*.pyc
.env
.DS_Store
**/**__pycache__/
**/**.env
postgres-data/
venv
.pytest_cache/
build/
egg-info/
*.egg-info
ignore-lab
__test.py
*ignore.*
main
*.exe
*.out
*.env
solana-env
blacklist.csv
data/
myapp